.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.tfvars
*.auto.tfvars
!config.auto.tfvars.example
!app.auto.tfvars.example
!vault-secrets.auto.tfvars.example
